
@media (max-width: 500px) and (max-width: 640px) {
        html, body{
            width:100%;
            overflow-x:hidden;
            }
        .cards {
            width: 100px;
        }
    
        .header {
            width: 100vw;
            text-align: center;
        }

        .info {
            text-align: center;
        }

        .cardsr1, .cardsr2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .nav-bar {
            display: flex;
            flex-direction: column;
            height: 110px;
            padding: 3px 0;
        }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .info {
        text-align: center;
    }
    
    .cardsr1, .cardsr2 {
        padding-left: 55px;
    }
}
@media (min-width: 1024px) and (max-width: 1199px) {
    html, body{
        width:100%;
        overflow-x:hidden;
        }

    .cardsr1 img {
        margin-left: 95px;
    }

    .cardsr2 img {
        margin-left: 95px;
    }

}

@media (min-width: 1200px) and (max-width: 1334px) {
    .cardsr1 img {
        width: 265px;
    }

    .cardsr2 img {
        width: 265px;
    }
}
